* {
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #ffff00;
  font-family: "tablet-gothic",sans-serif;
  overflow: hidden;
  height: 100vh;
}

body.consensus {
  background: url("/imgs/confetti.gif"); 
}

h1 {  
  font-size: 49px;
  text-transform: uppercase;
  text-align: center;
  line-height: 52px;
  color: #ffff00;
  -webkit-text-stroke: 1px #ff69b4;

}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  color: #ffff00;
  -webkit-text-stroke: 1px #ff69b4;
}

h3, p, li {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
  color: #ff69b4;
}

ul {
  list-style-type: none;
}

.resize {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 2;
  text-transform: uppercase;
  font-size: 1rem;
}

.white {
  color: none;
}

.answer {
  font-size: 45px;
  text-align: center;
  font-family: "tablet-gothic",sans-serif;
  text-transform: uppercase;
/*  color: #ff69b4;
  border:  #ff69b4 2px solid;*/
  font-weight: bold;
    color: #ffff00;
  background-color: #ff69b4;
  padding-left: 15px;
  padding-right: 15px;
}

.done {
  background-color: #83c8f9;
}

@keyframes uber {
  0% { background: #ff69b4; }
  25% { background: #ffff00; }
  50% { background: #ff69b4; }
  75% { background: #fff000; }
  100% { background: #ff69b4; }
}

.ubermate {
  animation-name: uber;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 3;
  animation-direction: normal;
  animation-play-state: running;

  -webkit-animation-name: uber;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-direction: normal;
  -webkit-animation-play-state: running;
}

.blink {
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite;
  -o-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

.vcenter {
  text-align: center;

}

.center {
  /*-webkit-text-stroke: 2px #ff69b4;*/
  background-color: none;
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.panel {
  margin-top: 42px;
  position: relative;
  background-color: none;
  display: block;
}

.submit {
  -webkit-text-stroke: 1px #ff69b4;
  background-color: none;
  text-align: center;
  margin-top: 25px;
}

/*.bold {
  font-weight: bold;
}*/

.yes {
   background-color: none;
}

.no {
   background-color: none;
}

.button {
  cursor: pointer;
}

@keyframes blink {
  67% { opacity: 0 }
}

textarea {
  margin-top: -20px;
  height: 90px;
  width: 100%;
  padding: 5px;
  font-family: "tablet-gothic",sans-serif;
  font-size: 17px;
  color: #ffadd6;
  
}

.img-swipe {
  margin-top: 52px;
  margin-bottom: 52px;
  height: 150px;
}

.bluedot {
  position: relative !important;
  height: 120px;
  margin-top: 20px;
}

.bluedot span {
  top: unset !important;
  width: 140px !important;
  height: 140px !important;
  left: calc(50% - 70px) !important;
}

#instruction {
  background: #ffff00;
  width: 100%;
  height: 100%;
}

#welcomepage {
  width: 100%;
  height: 100%;
}

img.tutorial {
   width: 100%;
   height: 100%;
   margin-top: -45px;
}

#question {
    background-color: none;
}

.statement{
  z-index: 1;
  border: 1px #ff69b4 solid; 
  padding:10px;
  margin-top: 5px;
  margin-bottom: 0px;
  -webkit-text-stroke: 1px #ff69b4;
  background-color: #ffff00;
}

#promptyes {
  display: none;
  height: 100vh;
}

#promptno {
  display: none;
  height: 100vh;
}

.pleasewait{
  margin: 20px;
  margin-top:100px;
}

.counter{
  font-size: 70px;
}

.agree{
  margin-top: -30px;
}

.consensustext{
  background-color: #ffff00;
  padding-left: 60px;
  padding-right: 60px;  
  padding-top: 10px;
  padding-bottom: 10px;
}

#noconsensus{
  background-color: #ffff00;
  height: 100vh;
  padding-left: 60px;
  padding-right: 60px;  
  padding-top: 10px;
  padding-bottom: 10px;
}

.moments{
  margin-top: 20px;
  padding-left:10px;
  padding-top:10px;
  padding-bottom: 20px;
  background-color: #ffff00;
  border:#ff69b4 1px solid;
}

.container {
  --n: 1;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  width: 100%;
  width: calc(var(--n)*100%);
  height: 50vw;
  max-height: 100vh;
  transform: translate(calc(var(--i, 1)/var(--n)*-100%));
}

.container .swipeable {
  width: 100%;
  width: calc(100%/var(--n));
  user-select: none;
  pointer-events: none;
}

.red {
  background: #f00 !important;
}

.green {
  background: #0f0 !important;
}

.blue {
  background: #00f !important;
}

.yellow {
  background: #ffff00 !important;
}

.screen {
  height: 100vh;
}

#templates {
  display: none;
}

