.example-items, .example-thread {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  background: #fff;
}

.item {
  margin: 21px;
  border-bottom: 8px solid #000;
  cursor: pointer;
}

.item:hover {
  background: #000;
  color: #fff;
}

.items p {
  font-size: 21px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.item ul {
  float: right;
  list-style-type: none;
}

.item li {
  float: right;
  margin: 0 0 0 21px;
}

.items .title {
  font-weight: bold;
}

.example-thread * {
  margin: 0;
}

.example-thread .thread {
  margin: 21px;
}

.thread .title, .consensus {
  font-size: 34px;
  margin-bottom: 21px;
}

.thread p {
  font-size: 21px;
  margin-bottom: 5px;
}

.thread h2, h3 {
  margin: 21px 0;
  font-size: 21px;
}

textarea {
  width: 100%;
}

.example-thread span, .example-items span, textarea {
  font-size: 21px;
}

.thread .consensus ul {
  list-style-type: circle;
}

.thread li {
  font-size: 21px;
  margin-top: 21px;
  cursor: pointer;
}

.thread .vote {
  border-bottom: 8px solid #000;
}

.right {
  float: right;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.close {
  text-align: right;
  cursor: pointer;
  padding: 0px 13px 0 0;
  margin: 0;
  font-size: 34px;
}

.rainbow {
  background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (max-width:640px) {

main, .example-thread, .example-items {
  width: 100%;
}

}

