* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial Narrow', sans-serif;
	font-size: 3vh;
}

html {
	min-height: -webkit-fill-available;

}
body {
	position: relative;
	display: block;
	float: left;
	background-color: black;
	width: 100%;
	min-height: 100vh;
	min-height: -webkit-fill-available;

}
.tiny {
	font-size: 1.5vh;
	color: white;
}

/* ——————————————————————————*/
/* Landing screen animation */
/* ——————————————————————————*/

svg {
	fill: white;
	height: 90%;
	width: 100vw;
	display: none;
	position: relative;
	float: left;
	display: block;
}

.consensus {
	height: 90%;
	width: 100vw;
	position: relative;
	float: left;
	display: block;
}

.left-win {
	transform-origin: 0 0;
	width: 50%;
	animation: 4s winWin infinite ease-in-out alternate;
}

.right-win {
	transform-origin: 100% 0;
	width: 50%;
	animation: 4s winWin infinite ease-in-out alternate-reverse;
}

@keyframes winWin {
	0% {
		transform: scale(0.12, 1)
	}
	10% {
		transform: scale(0.12, 1)
	}
	90% {
		transform: scale(1.9, 1)
	}
	100% {
		transform: scale(1.9, 1)
	}
}

.ticker {
	color: white;
	height: 5vh;
	width: 100%;
	font-size: 3vh;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	float: left;
	display: block; 
}

.ticker span {
	position: relative;
	float: left;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
	animation: 20s ticker linear infinite;
}

.ticker:hover span {
	animation-play-state: paused;
}

@keyframes ticker {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate( -100vw, 0);
	}
}

/* ——————————————————————————*/
/* Rounds */
/* ——————————————————————————*/

.label {
	position: absolute;
	display: block;
	transform: translate(-50%, -50%);
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Arial Narrow', sans-serif;
	top: 50%;
	left: 50%;
	margin: 10px 0;
	padding: 10px 20px;
	/*font-size: 16px;*/
	border-radius: 20px;
	/*z-index: 1;*/
	user-select: none;
	cursor: pointer;
	max-width: calc(100%);
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1;
}

.prompt {
	position: relative;
	display: block;
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Arial Narrow', sans-serif;
	margin: 0;
	padding: 10px 20px;
	/*font-size: 16px;*/
	border-radius: 20px;
	z-index: 999;
	user-select: none;
	cursor: pointer;
	max-width: calc(100%);
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1;
}

.submit {
	padding: 10px;
	box-sizing: border-box;
	text-transform: uppercase;
	background: black;
	color: white;
	border-radius: 20px;
	border: 1px solid white;
	width: calc(100% - 20px);
	margin: 0 10px;
}

textarea {
	position: relative;
	display: block;
	background-color: #DDDDDD;
	color: black;
	color: white;
	text-align: left;
	border: none;
	outline: none;
	width: calc(100% - 20px);
	height: auto;
	margin: 10px;
	min-height: 50vh;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 10px;

}


.rounds, #rounds {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	/*height: -webkit-fill-available;*/
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	/*overflow-y: scroll;*/
}

.voting-round {
	position: relative;
	float: left;
	fill: white;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0px;
	min-height: 6vh;
	overflow: hidden;
	flex: 1 0 0;
	transition: all 0.5s;
	background-color: black;
	margin: 0.5px 0;
	box-shadow: 0px -10px 20px rgb(0, 0, 0, 0.5);
	/*border-top: 0.25px solid transparent;*/
	/*border-bottom: 1px solid black;*/
}
.previous-branches {
	position: relative;
	width: 100%;
	height: 0vh;
	display: block;
	transition: all 1s;

	position: relative;
	display: flex;
	flex-direction: column-reverse;
	align-items: stretch;
	justify-content: flex-start;

}

.previous-branches.toggled {

	height: 50vh;
}
.previous-branch-content {
	transition: all 1s;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	transform-origin: 50% 0;
}
/*.previous-branches.toggled .previous-branch {
	transform: 
}*/
.previous-branches.toggled .previous-branch:nth-of-type(1) {
	opacity: 0.8;
}
.previous-branches.toggled .previous-branch:nth-of-type(2) {
	opacity: 0.6;
}
.previous-branches.toggled .previous-branch:nth-of-type(3) {
	opacity: 0.4;
}
.previous-branches.toggled .previous-branch:nth-of-type(4) {
	opacity: 0.2;
}

.previous-branches.toggled .previous-branch-content {
/*	margin-top: 10%;
	margin-bottom: -10%;*/
	transform: matrix3d(1, 0, 0, 0, 0, 1.5, 0, 0.0015, 0, 0, 1, 0, 0, 0, 0, 1);

}


.previous-branch {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.toggle-branches {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	/*border-bottom-right-radius: 50%;*/
	background-color: black;
	position: absolute;
	margin: 0 auto;
	color: white;
	top: 0px;
	left: 50%;
	transform-origin: 50% 50%;
	transform: translate(-50%, 0);
	z-index: 999;
	transition: all 0.5s;
}
.toggle-branches:before {
	height: 40px;
	width: 40px;
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	content: "↓";
}
.toggle-branches.toggled {
	/*background-color: yellow;*/
	transform: translate(-50%, 0) rotate(180deg);

}


.level {
	display: block;
	width: calc(100% - 20px);
	padding: 10px;
	margin: 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	box-sizing: border-box;
	border: 1px solid white;
	color: white;
	background-color: black;
	border-radius: 20px;
}

.statement {
	text-transform: uppercase;
	font-size: smaller;
	width: 100%;
	text-align: center;
	clear: both;
	display: block;
	float: left;
	color: white;
}

.confetti-container {
	position: absolute;
	display: block;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	top: 0;
	left: 0;
}

.confetti {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	transform-origin: 50% 50%;
	z-index: 999;
	position: absolute;
}
.yellow {
	background-color: #A35AFF;
}

.purple {
	background-color: #FFE200;
}

.confetti:nth-of-type(12n) {
	animation: moveBallOne 3s infinite;
}
.confetti:nth-of-type(12n+1) {
	animation: moveBallTwo 3s infinite;
}
.confetti:nth-of-type(12n+2) {
	animation: moveBallThree 3s infinite;
}
.confetti:nth-of-type(12n+3) {
	animation: moveBallFour 3s infinite;
}
.confetti:nth-of-type(12n+4) {
	animation: moveBallFive 3s infinite;
}
.confetti:nth-of-type(12n+5) {
	animation: moveBallSix 3s infinite;
}
.confetti:nth-of-type(12n+6) {
	animation: moveBallSeven 3s infinite;
}
.confetti:nth-of-type(12n+7) {
	animation: moveBallEight 3s infinite;
}
.confetti:nth-of-type(12n+8) {
	animation: moveBallNine 3s infinite;
}
.confetti:nth-of-type(12n+9) {
	animation: moveBallTen 3s infinite;
}
.confetti:nth-of-type(12n+10) {
	animation: moveBallEleven 3s infinite;
}
.confetti:nth-of-type(12n+11) {
	animation: moveBallTwelve 3s infinite;
}



.timer {
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
	height: 5px;
	background-color: #111;
	/*border-top: 1px solid white;*/
}
.bar {
	position: absolute;
	background-color: lightgray;
	height: 5px;
	width: 100%;
}

@keyframes timerBar {
	from {
		margin-left: -100%
	}
	to {
		margin-left: 0;
	}
}

/*VOTE, ALL OF YOU*/
.state-1 {
	flex: 5 0 0;
}
/*Consensus*/
.state-2 {
	flex: 5 0 0;
}

/*Re-asking*/
.state-3 {
	display: none;
}

/* Not accepting votes but accepting new statements */
.state-4 {
	flex: 2 0 0;
	animation: 0.5s votingRound 1 forwards;
}

.state-4 .label {
	left: 0;
	transform: translate(0, calc(-50% - 10px) );
}

@keyframes votingRound {
 from {
 	height: 0px;
 	opacity: 0;
 	flex: 0 0 0;
 }
 to {
 	height: 100%;
 	opacity: 1;
 	flex: 1 0 0;
 }
}

/* ——————————————————————————*/
/* Hidden branches
/* ——————————————————————————*/

.inactive-branch {
	opacity: 0.3 !important;
	flex: 0 0 0;
	min-height: 10px;
	display: none;
}
.inactive-branch .label {
	font-size: 1.5vh;
	padding: 5px 10px;

}


/* ——————————————————————————*/
/* Bars */
/* ——————————————————————————*/

.left {
	background: linear-gradient(90deg, #340D66 0%, #A35AFF 25%, #A35AFF 75%, #340D66 100%);
	transform-origin: 0 0;
	width: 50%;
	height: 100%;
	position: relative;
	display: block;
	float: left;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;;
}

.right {
	background: linear-gradient(90deg, #6F6300 0%, #FFE200 25%, #FFE200 75%, #6F6300 100%);
	transform-origin: 100% 0;
	width: 50%;
	height: 100%;
	position: relative;
	display: block;
	float: left;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;;
}

.margin-bottom {
	margin-top: 200px;
}

.invisible {
	height: 0px;
	flex: 0 0 0;
}

.current {
	opacity: 1;
	flex: 8 0 0;
}

.div {
	opacity: 0;
}


/* ——————————————————————————*/
/* Balls */
/* ——————————————————————————*/

.ball {
	position: absolute;
	width: 30vh;
	height: 30vh;
	left: 0px;
	top: 0px;
	border-radius: 50%;
	background: #FFFFFF;
	background: rgb(255,255,255);
	mix-blend-mode: screen;
	opacity: 1;
	transition: opacity 0.5s;
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
}

.ball:nth-of-type(12n) {
	animation: moveBallOne 10s infinite;
}
.ball:nth-of-type(12n+1) {
	animation: moveBallTwo 10s infinite;
}
.ball:nth-of-type(12n+2) {
	animation: moveBallThree 10s infinite;
}
.ball:nth-of-type(12n+3) {
	animation: moveBallFour 10s infinite;
}
.ball:nth-of-type(12n+4) {
	animation: moveBallFive 10s infinite;
}
.ball:nth-of-type(12n+5) {
	animation: moveBallSix 10s infinite;
}
.ball:nth-of-type(12n+6) {
	animation: moveBallSeven 10s infinite;
}
.ball:nth-of-type(12n+7) {
	animation: moveBallEight 10s infinite;
}
.ball:nth-of-type(12n+8) {
	animation: moveBallNine 10s infinite;
}
.ball:nth-of-type(12n+9) {
	animation: moveBallTen 10s infinite;
}
.ball:nth-of-type(12n+10) {
	animation: moveBallEleven 10s infinite;
}
.ball:nth-of-type(12n+11) {
	animation: moveBallTwelve 10s infinite;
}


.ball.agree-ball {
	background: rgba(163,90,255,1);
	background: radial-gradient(circle, rgba(163,90,255,1) 0%, rgba(163,90,255,0) 50%);
}

.ball.disagree-ball {
	background: rgba(255,226,0,1);
	background: radial-gradient(circle, rgba(255,226,0,1) 0%, rgba(255,226,0,0) 50%);

}

@keyframes moveBallOne {
	0% {
		left: 2%;
		top: 10%;
	}
	33% {

		left: 24%;
		top: 12%;
	}
	66% {
		left: 62%;
		top: 55%
	}
	100% {
		left: 1%;
		top: 10%
	}
}
@keyframes moveBallTwo {
	0% {
		left: 10%;
		top: 40%;
	}
	25% {

		left: 23%;
		top: 45%;
	}
	70% {
		left: 97%;
		top: 22%
	}
	100% {
		left: 50%;
		top: 56%
	}
}

@keyframes moveBallThree {
	0% {
		left: 70%;
		top: 24%;
	}
	37% {

		left: 44%;
		top: 90%;
	}
	69% {
		left: 20%;
		top: 56%
	}
	100% {
		left: 70%;
		top: 24%;
	}
}


@keyframes moveBallFour {
	0% {
		left: 0%;
		top: 0%;
	}
	31% {

		left: 45%;
		top: 50%;
	}
	63% {
		left: 34%;
		top: 45%
	}
	100% {
		left: 0%;
		top: 0%;
	}
}

@keyframes moveBallFive {
	0% {
		left: 12%;
		top: 45%;
	}
	35% {

		left: 23%;
		top: 34%;
	}
	64% {
		left: 72%;
		top: 73%
	}
	100% {
		left: 12%;
		top: 45%;
	}

}

@keyframes moveBallSix {
	0% {
		left: 2%;
		top: 34%;
	}
	32% {

		left: 25%;
		top: 79%;
	}
	65% {
		left: 45%;
		top: 23%
	}
	100% {
		left: 2%;
		top: 34%;
	}
}

@keyframes moveBallSeven {
	0% {
		left: 34%;
		top: 75%;
	}
	34% {

		left: 04%;
		top: 45%;
	}
	62% {
		left: 91%;
		top: 34%
	}
	100% {
		left: 34%;
		top: 75%;
	}
}


@keyframes moveBallEight {
	0% {
		left: 39%;
		top: 75%;
	}
	30% {

		left: 21%;
		top: 10%;
	}
	64% {
		left: 19%;
		top: 59%
	}
	100% {
		left: 82%;
		top: 24%;
	}
}


@keyframes moveBallNine {
	0% {
		left: -10%;
		top: 75%;
	}
	29% {

		left: 04%;
		top: 45%;
	}
	71% {
		left: 91%;
		top: 34%
	}
	100% {
		left: -10%;
		top: 39%;
	}
}

@keyframes moveBallTen {
	0% {
		left: 2%;
		top: 40%;
	}
	32% {

		left: 39%;
		top: 56%;
	}
	68% {
		left: 74%;
		top: 19%
	}
	100% {
		left: 2%;
		top: 40%;
	}
}

@keyframes moveBallEleven {
	0% {
		left: 30%;
		top: 12%;
	}
	33% {

		left: 36%;
		top: 29%;
	}
	70% {
		left: 57%;
		top: 19%
	}
	100% {
		left: 30%;
		top: 12%;
	}
}

@keyframes moveBallTwelve {
	0% {
		left: 40%;
		top: 20%;
	}
	22% {

		left: 50%;
		top: 10%;
	}
	88% {
		left: 20%;
		top: 69%;
	}
	100% {
		left: 40%;
		top: 20%;
	}
}


/* ——————————————————————————*/
/* Break screen */
/* ——————————————————————————*/


.hidden-logo {
	display: none;
	z-index: 9999;
	background-color: black;
	position: absolute;
	width: 100%;
	height: 100%;

}
.visible {
	display: block;
}
.hidden {
	display: none;
}



/* ——————————————————————————*/
/* Legend */
/* ——————————————————————————*/



.legend {
	position: fixed;
	border-radius: 20px;
	z-index: 999;
	background-color: black;
	color: white;
	text-transform: uppercase;
	font-family: 'Arial Narrow', sans-serif;
	padding: 10px;
	right: 10px;
	bottom: 10px;
}
.legend-item {
	width: auto;
	position: relative;
	float: left;
	clear: none;
	color: white;
	margin-right: 10px;
}
.legend-item:last-of-type {
	margin-right: none;
}
.agree:before {
	content: "";
	background-color: #A35AFF;
	display: block;
	position: relative;
	float: left;
	margin-right: 10px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.disagree:before {
	content: "";
	background-color: #FFE200;
	display: block;
	position: relative;
	float: left;
	margin-right: 10px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
